@use './breakpoints.scss';
@import '../../node_modules/normalize.css/normalize.css';

:root {
  --primary: #f59e0b;
  --text: #f1f1f1;
  --background: #101621;
  --background-dark: #0a101b;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;

  @include breakpoints.and-down(sm) {
    font-size: 87.5%;
  }

  @include breakpoints.and-up(md) {
    font-size: 93.74%;
  }

  @include breakpoints.and-up(lg) {
    font-size: 100%;
  }
}

html,
body,
div#__next {
  width: 100%;
  height: 100%;
}

body {
  background: var(--background);
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
}

input,
button,
a {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.center-container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;
}
