$sizes: (
  h1: 2.25rem,
  h2: 1.875rem,
  h3: 1.5rem,
  h4: 1.25rem,
  h5: 1.125rem,
  h6: 1rem,
  paragraph1: 1rem,
  paragraph2: 1rem,
  paragraph3: 0.875rem,
  paragraph4: 0.875rem,
  caption1: 0.75rem,
  caption2: 0.75rem,
  footer: 0.625rem,
);

$weights: (
  h1: 500,
  h2: 500,
  h3: 500,
  h4: 500,
  h5: 500,
  h6: 500,
  paragraph1: 400,
  paragraph2: 700,
  paragraph3: 400,
  paragraph4: 700,
  caption1: 400,
  caption2: 700,
  footer: 700,
);

$line-heights: (
  h1: 2.5rem,
  h2: 2.25rem,
  h3: 2rem,
  h4: 1.75rem,
  h5: 1.75rem,
  h6: 1.5rem,
  paragraph1: 1.5rem,
  paragraph2: 1.5rem,
  paragraph3: 1.25rem,
  paragraph4: 1.25rem,
  caption1: 1rem,
  caption2: 1rem,
  footer: 0.75rem,
);
