@use '../styles/colors.scss';
@use '../styles/breakpoints.scss';

.about-section-content {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 4rem;

  padding: 7rem 0.75rem;

  @include breakpoints.and-up(lg) {
    flex-direction: row;
    padding: 7rem 0;
  }
}

.about-section-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid colors.$yellow;
  border-radius: 0.5rem;

  width: 350px;
  height: 350px;

  img {
    border-radius: 0.5rem;
    object-fit: cover;
  }

  @include breakpoints.and-up(lg) {
    height: 360px;
    flex: 1;
  }
}

.about-section-description {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  flex: 2;

  p {
    line-height: 1.8rem;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;

    border-radius: 0.5rem;
    margin-top: 2rem;

    width: max-content;
    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.9);
    }
  }

  @include breakpoints.and-up(lg) {
    a {
      align-self: flex-start;
      margin-top: 0;
    }
  }
}
