@use '../styles/colors.scss';

.contact-form-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.675rem;
  flex: 1;

  background: colors.$gray-1000;
  box-shadow: 0 0 12px rgba(0, 4, 20, 0.7);
  border-radius: 0.5rem;

  padding: 1.5rem 1rem;

  span {
    font-size: 0.8rem;
  }
}

.loading {
  color: #f1f1f1;
}

.success {
  color: #2fbd6a;
}

.empty {
  color: #ff8e31;
}

.error {
  color: #f83b3b;
}
