@use '../styles/colors.scss';
@use '../styles/breakpoints.scss';

.contact-section-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 5rem 0.75rem;

  @include breakpoints.and-up(lg) {
    justify-content: space-between;
    flex-direction: row;
    padding: 7rem 0;
  }
}

.contact-section-description {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  flex: 1;

  a {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: color 0.2s;

    &:hover {
      color: colors.$yellow;
    }
  }
}

.contact-section-description-icons {
  display: flex;
  column-gap: 1.25rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    transition: color 0.2s;

    &:hover {
      color: colors.$yellow;
    }
  }
}
