@use '../styles/colors.scss';
@use '../styles/breakpoints.scss';

.hero-section-content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 7rem 0.75rem;

  @include breakpoints.and-up(lg) {
    align-items: center;
    flex-direction: row;
    padding: 10rem 0;
  }
}

.hero-section-description {
  display: flex;
  flex-direction: column;
  flex: 2;

  p {
    line-height: 1.8rem;
  }
}

.hero-section-description-icons {
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
  margin-top: 2.5rem;

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    color: colors.$gray-50;
    transition: color 0.2s;

    &:hover {
      color: colors.$yellow;
    }
  }

  @include breakpoints.and-up(lg) {
    justify-content: flex-start;
    margin-top: 5rem;
  }
}

.hero-section-ilustration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;

  @include breakpoints.and-up(lg) {
    justify-content: flex-end;
  }
}
