.navbar-item {
  list-style: none;

  a {
    display: flex;
    color: var(--text);
    font-weight: 400;
    padding: 0.5rem 0;
    transition: color 0.2s;
    width: 100%;

    &:hover {
      color: var(--primary);
    }
  }
}
