@use '../styles/colors.scss';
@use '../styles/breakpoints.scss';

@keyframes openedMenu {
  from {
    overflow: hidden;
  }
  to {
    overflow: visible;
  }
}

.navbar-container {
  display: flex;

  background: colors.$gray-900;

  position: fixed;
  top: 0;
  left: 0;

  padding: 1rem 0.75rem;

  width: 100%;
  height: fit-content;
  z-index: 2;
}

.navbar-logo {
  cursor: pointer;
  width: 42px;
  height: 42px;
  z-index: 2;

  @include breakpoints.and-up(lg) {
    width: 70px;
    height: 70px;
  }
}

.navbar-navigation-container {
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;

    border-top: 1px solid colors.$yellow;
    margin-top: 1rem;
    padding-top: 1rem;
  }

  @include breakpoints.and-up(lg) {
    display: flex;
    justify-content: space-between;

    ul {
      flex-direction: row;
      gap: 1.5rem;

      margin-top: 0;
      padding-top: 0;
      border-top: none;
      position: initial;
      overflow: visible;
      width: auto;
      height: auto;
      clip: auto;
      white-space: normal;
    }
  }
}

.is-menu-open {
  background: rgba(10, 16, 27, 0.97);
  height: 100%;

  nav {
    ul {
      position: initial;
      overflow: visible;
      width: auto;
      height: auto;
      clip: auto;
      white-space: normal;
    }
  }

  @include breakpoints.and-up(lg) {
    background: colors.$gray-900;
    height: fit-content;
  }
}
